@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

body{
    background-color: #1c191a;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    color: white;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    padding: 1em;
    display: block;
  }
  
  aside {
    position: fixed;
    top: 75%;
    left: 10px;
    transform: translateY(-50%);
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    
  }
  
  aside ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  aside ul li {
    margin-top: 20px;
  }
  
  aside a {
    display: block;
  }
  
  aside img {
    width: 30px;
    height: 30px;
  }
  

  .nav-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 0;
    padding: 0;
  }
  
  .nav-sidebar li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  
  